<div class="row">
	<div class="col-md-12">
		<div class="about">
			<h1>About</h1>
			
			<p>&nbsp;</p>
			
			<p>
				This website is a summary of <a href="http://www.amazon.com/The-Laws-Power-Robert-Greene/dp/0140280197" target="_blank">
				The 48 laws of power. 
				</a>
				A book by Robert Greene.
			</p>
			<p>
				I enjoyed this book very much, even though I don't apply all this laws myself.
			</p>
			<p>
				The website was built to learn about routing with angularjs. 
			</p>

			<p>&nbsp;</p>

			<p>
				You can navigate the laws using the arrow keys 
				(left and right)
			</p>
		</div>
	</div>
</div>